@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700);
body{margin:0; padding:0; overflow-x:hidden; font-family: 'Raleway', sans-serif;}
img{max-width:100%;}
a:focus{outline:0;}
/*-------header section css start here-------------*/
.top{background:#0c0c0c; padding:8px 0;} 
.top a{color:#fff; font-size:13px; display:inline-block; margin:0 10px 0 0;}
ul.social{margin:0; padding:0; float:right;}
ul.social li{display:inline-block; margin:0 3px; padding:0 2px;}
.nav.custom{float:right; margin:19px 0;}
.nav.custom li{display:inline-block;}
.nav > li > a:hover, .nav > li > a:focus{background:rgba(0,0,0,0); text-decoration:none; outline:none;}
.nav > li > a{color:#393838;}
.navbar-brand{height:auto;}
ul.social li a{font-size: 17px; margin: -3px 0 0;}
.nav.custom li a.active{color:#f08757}
.nav > li.btn_member a{margin:0 0 0 15px; padding:0; border:2px solid #f08757; border-radius:50px; padding:10px 25px; color:#f08757;}
.nav > li.btn_member a:hover{color:#fff; }
header.fixed{position:fixed; top:0; width:100%; left:0; background:#fff; z-index:100}
header.fixed .top{display:none;}
.scrl_pg{margin-top:119px;}
/*-------header section css End here-------------*/

/*-------Banner section css Start here-------------*/
.banner{background:rgba(240, 135, 87, 1) url('../images/banner_bg.png') no-repeat; background-size:cover; padding:60px 0;}
.banner p, .banner li, .banner h1{color:#fff;}
.banner p{font-size:22px;}
.banner ul{margin:24px 0; padding:0;}
.banner ul li{display: inline-block; font-size: 18px;list-style: outside none none; margin: 10px 0;padding: 0;width: 100%;}
.banner ul li:before{content:""; margin-right:10px; height:16px; margin-bottom:-2px; width:16px; border-radius:20px; border:2px solid #fff; display:inline-block;}
.value{background:#0c0c0c; max-width:600px; padding:14px; margin:15px 0;}
.value span{font-size:18px; font-weight:600;color:#fff;}
.banner h1 span{position:relative; display:inline-block;}
.banner h1 span:after{content:""; background:#fff; height:6px;width:100%; position:absolute; left:0; bottom:-24px;}
.banner h1{font-weight:300; border-bottom:2px solid #fff; display:inline-block; font-size:30px; padding:5px 0 20px; margin-bottom:20px;}
.banner h1 b{font-weight:600; font-size:38px;}
/*-------Banner section css End here-------------*/

section{padding:70px 0;}
.why{padding-left:70px; clear:both; position:relative}
.why:before{content:"ï€"; font-family:FontAwesome; font-size:60px; color:#0c0c0c; position:absolute; top:0; left:0; line-height: 100%;}
.why h1{font-weight:600; font-size:26px; margin:0 0 7px; padding:0; color:#0c0c0c;}
.why p{font-weight:400; font-size:18px; margin:0; padding:0; color:#0c0c0c;}
.why p a{color:#f08757; text-decoration:underline;}
.atm{position:relative;}
.atm .loc{position:absolute; bottom:-110px;}


.what{background:#0c0c0c url(../images/what.png) no-repeat; background-size:cover; padding:160px 0;}
.what h2, .what p{color:#fff}
.what h2, .about h1{font-size:32px; font-weight:600; margin-bottom:30px;}
.what p, .about p{font-size:18px; font-weight:300; line-height:30px; letter-spacing:0.6px;}


.location{background:#f08757 url(../images/location.png) no-repeat; background-size:cover; padding:60px 0; position:relative; background-position:center center;}
.location:before{content:""; width:100%; height:100%; background:rgba(240,135,87,0.84); position:absolute; top:0; left:0}
.location h2{color:#fff; font-size:28px; font-weight:600; display:inline-block;}
.location .locat{color:#fff; font-size:26px; font-weight:400; display:inline-block; border:2px solid #fff; border-radius:15px; padding:25px 35px; margin-left:15px; background:#f08757;}
.location .container{position:relative; z-index:1;}
.location .locat i{font-size: 56px; line-height: 18px; margin-bottom: -8px; position: relative; top: 6px;}

footer{background:#f0f0f0; padding-top:25px; margin-top:10px;}
footer h2{color:#0c0c0c; font-size:23px; font-weight:600; }
footer p{color:#5f5f5f}
footer ul{margin:0; padding:0;}
footer ul li{margin:6px 0; padding:0; display:inline-block; width:100%;}
footer ul li a{color:#2e2e2e; font-size:14px;}
footer ul li a:hover{color:#F08757; text-decoration:none;}
.bottom_copy{background:#0c0c0c; color:#fff; font-size:14px; margin:50px 0 0; padding:15px 0;}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{background:rgba(0,0,0,0)}
#contact{padding:55px 0 40px}
.about{text-align:center; padding:60px 0;}
.about h1, .about p{color:#0c0c0c}
.about p{font-size:16px;}
.contact_frm {
  margin-top: 25px;
}
.contact input, .contact textarea {
  border: 1px solid #d6d6d6;
  margin: 10px 0;
  padding: 13px;
  width: 100%;
}
.contact textarea {
  min-height: 185px;
}
.full_sub {
  background:#F08757;
  color: #fff;
  font-weight: 700;
}


@media(min-width:768px){.navbar-collapse{padding-left:0; padding-right:0;}}

@media(min-width:768px) and (max-width:991px){.atm .loc {  bottom: -162px;
position: absolute;
right: -167px;} .why{padding-right:140px;}
.nav > li > a{padding:10px 9px;}
}

@media(max-width:767px){.atm .loc {  bottom: 23px;  position: relative;  right: auto;}
.navbar-toggle{background:#f08757; margin-top:25px;}
.navbar-toggle span{background:#fff;}
.banner h1 b, .banner h1, .what h2, .location h2, .why h1 {font-size:26px;}
.value span, .banner ul li, .banner p, .why p, .location .locat, .what p{font-size:16px;}
.location .locat i{font-size:34px;}
.location .locat{padding:17px 30px;}
.banner ul li{margin:6px 0}
.nav.custom li{width:100%; text-align:center;}
.what{padding:40px 0;}
.dropdown-menu{width:100%; position:relative;}
}
@media(max-width:639px){
	.banner h1 span:after{display:none;}
	.value{float:left; width:100%; padding:2px 0;}
	.value span{display:inline-block; width:100%; text-align:center; margin:10px 0;}
}

@media(max-width:479px){.location .locat{margin:0; padding: 17px 7px;
}
}